/* selector {
     prop : value;
     prop : value;
     prop : value;
     prop : value;
     prop : value;
     prop : value;
     prop : value;
     prop : value;
     prop : value;

} */

h1{
     color: #0051ffa8;
     text-align: center;
     background-image: url("");
     height: 40px;
}